# Build artifacts
build/
DerivedData/

# Xcode
*.xcuserstate
*.xcuserdatad/
xcuserdata/

# macOS
.DS_Store
*.swp
*~

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# Carthage
Carthage/Build/

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

