<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111912886446-vlpg4uv24o2atulm87olnf28746jugr3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111912886446-vlpg4uv24o2atulm87olnf28746jugr3</string>
	<key>API_KEY</key>
	<string>AIzaSyBeW4IRddmL0nYBCYTcd_Fs0MGm4kEH5H8</string>
	<key>GCM_SENDER_ID</key>
	<string>111912886446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>meditation.Still-App</string>
	<key>PROJECT_ID</key>
	<string>still-app-3e2dd</string>
	<key>STORAGE_BUCKET</key>
	<string>still-app-3e2dd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111912886446:ios:9473ed9c7ef9e5423d4d3f</string>
</dict>
</plist>